(ns {{main/ns}}.core-test
  (:require [clojure.test :refer [deftest testing is]]
            [matcher-combinators.clj-test]
            [matcher-combinators.matchers :as m]
            [mockfn.macros :refer [providing]]
            [{{main/ns}}.core :as sut]))

(deftest a-test
  (testing "FIXME, I fail."
    (is (= 0 1))))
